
[submodule "petal-decomposition"]
	path = petal-decomposition
	url = git@github.com:petabi/petal-decomposition.git
[submodule "genpdf-rs"]
	path = genpdf-rs
	url = https://git.sr.ht/~ireas/genpdf-rs
[submodule "printpdf"]
	path = printpdf
	url = git@github.com:fschutt/printpdf.git
